{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-shadow": [1, {"allow": ["args"]}],
    "spaced-comment": 1
  },
  "globals": {
    "__DEV__": true
  }
}
