:local(.component) {

  margin-top: 20px;
  margin-bottom: 20px;
  
  .rc-slider-track {
    background-color: #b1c1b7;
  }

  .rc-slider-dot-active, .rc-slider-dot {
    display: none;
  }

  .rc-slider-mark {
    font-size: 10px;
    top:5px;
  }

  .rc-slider-handle {
    border-color:#b1c1b7;
    .mq-mobile & {
      margin-left: -12px;
      margin-top: -11px;
      width: 25px;
      height: 25px;
      border:3px solid;
    }
  }

  .rc-slider-disabled {
    background: none;
  }

  .marks {
    width: 100%;
    font-size: 0.7em;
    
    .min {
      float: left;
    }
    .max {
      float: right;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .r0416 {
    .rc-slider-track {
      background-color: #2171b5;
    }
    .rc-slider-handle {
      border-color: #2171b5;
    }
  }
  .r0516 {
    .rc-slider-track {
      background-color: #7D9F89;
    }
    .rc-slider-handle {
      border-color: #7D9F89;
    }
  }


}


