:local(.component) {

  composes: widget from '../widgets.scss';

  margin-bottom: 1em;

  .rc-slider-track {
    background-color: #FD8D3C;
  }

  .rc-slider-dot-active, .rc-slider-dot {
    display: none;
  }

  .rc-slider-mark {
    font-size: 10px;
    top:5px;
  }

  .rc-slider-handle {
    border-color:#FD8D3C;
    .mq-mobile & {
      margin-left: -12px;
      margin-top: -11px;
      width: 25px;
      height: 25px;
      border:3px solid;
    }
  }

  .rc-slider-mark-text {
    width: auto !important;
    width: initial !important;
    margin-left: inherit !important;
    &:nth-of-type(1){
      left: 0px !important;
    }
    &:nth-of-type(2){
      left: initial !important;
      right: 0px !important;
    }
  }

  .r0416 {
    .rc-slider-track {
      background-color: #2171b5;
    }
    .rc-slider-handle {
      border-color: #2171b5;
    }
  }
  .r0516 {
    .rc-slider-track {
      background-color: #7D9F89;
    }
    .rc-slider-handle {
      border-color: #7D9F89;
    }
  }


}


