.card1 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(5px, 4px) rotate(1deg);
  z-index: 19; }
  .inactive .card1 {
    opacity: 0;
    pointer-events: none; }

.card2 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(10px, 8px) rotate(2deg);
  z-index: 18; }
  .inactive .card2 {
    opacity: 0;
    pointer-events: none; }

.card3 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(15px, 12px) rotate(3deg);
  z-index: 17; }
  .inactive .card3 {
    opacity: 0;
    pointer-events: none; }

.card4 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(20px, 16px) rotate(4deg);
  z-index: 16; }
  .inactive .card4 {
    opacity: 0;
    pointer-events: none; }

.card5 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(25px, 20px) rotate(5deg);
  z-index: 15; }
  .inactive .card5 {
    opacity: 0;
    pointer-events: none; }

.card6 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(30px, 24px) rotate(6deg);
  z-index: 14; }
  .inactive .card6 {
    opacity: 0;
    pointer-events: none; }

.card7 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(35px, 28px) rotate(7deg);
  z-index: 13; }
  .inactive .card7 {
    opacity: 0;
    pointer-events: none; }

.card8 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(40px, 32px) rotate(8deg);
  z-index: 12; }
  .inactive .card8 {
    opacity: 0;
    pointer-events: none; }

.card9 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(45px, 36px) rotate(9deg);
  z-index: 11; }
  .inactive .card9 {
    opacity: 0;
    pointer-events: none; }

.card10 {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFF;
  height: 520px;
  position: absolute;
  transform: translate(50px, 40px) rotate(10deg);
  z-index: 10; }
  .inactive .card10 {
    opacity: 0;
    pointer-events: none; }

:local(.questions) {
  line-height: 1.4em;
  background: #FFF;
  color: #333; }
  .mq-desktop :local(.questions) {
    transition: transform 1s;
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-size: 1rem;
    position: absolute;
    z-index: 100;
    min-height: 520px;
    height: 100%; }
  .mq-desktop .inactive :local(.questions) {
    transform: translate(-600px, -100px) scale(0.7) rotate(20deg);
    pointer-events: none; }
  .mq-mobile .inactive :local(.questions) {
    display: none; }
  .mq-mobile :local(.questions) {
    height: 100vh;
    padding-top: 10px; }
  :local(.questions) > div {
    position: relative;
    height: 100%; }
  :local(.questions) .widget {
    margin-top: 1em;
    width: 100%; }
    :local(.questions) .widget:first-child {
      margin-top: 0; }
    :local(.questions) .widget .share {
      clear: both;
      padding-bottom: 15px; }
  :local(.questions) .header {
    position: absolute;
    right: 0;
    top: -2px;
    color: #b7b7b7; }
  :local(.questions) a {
    text-decoration: none;
    color: #A74405; }
  :local(.questions) .losButton {
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    background: #7d9f89;
    color: #FFF;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    -webkit-animation: pulse 4s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 4s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 4s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 4s infinite cubic-bezier(0.66, 0, 0, 1);
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
    :local(.questions) .losButton:hover {
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
      background: #577562;
      -webkit-animation: none;
      -moz-animation: none;
      -ms-animation: none;
      animation: none; }
  :local(.questions) h1 {
    font-size: 1em;
    margin-top: 0px; }
    .mq-desktop :local(.questions) h1 {
      margin-top: -10px;
      font-weight: bold;
      line-height: 1.2em;
      padding-bottom: 6px;
      margin-bottom: 27px;
      font-weight: normal;
      text-transform: uppercase;
      color: #b7b7b7;
      border-bottom: 1px solid #ececec; }
    .mq-mobile :local(.questions) h1 {
      font-weight: normal;
      color: #a7a7a7; }
  :local(.questions) button {
    margin-top: 20px;
    width: 100%;
    border: none;
    color: #FFF;
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    float: left;
    background: linear-gradient(to right, #7D9F89 50%, #395844 50%);
    background-size: 200% 100%;
    animation: countdown 10s; }
  :local(.questions) .answer-tip {
    background: rgba(255, 170, 0, 0.22) !important; }

@-webkit-keyframes countdown {
  0% {
    background-position: right bottom; }
  100% {
    background-position: left bottom; } }

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
  80% {
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
  100% {
    box-shadow: 0 0 0 15px rgba(125, 159, 137, 0); } }

@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
  80% {
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
  100% {
    box-shadow: 0 0 0 15px rgba(125, 159, 137, 0); } }

@-ms-keyframes pulse {
  :local(.questions) 0% {
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
  :local(.questions) 80% {
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
  :local(.questions) 100% {
    box-shadow: 0 0 0 15px rgba(125, 159, 137, 0); } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
  80% {
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
  100% {
    box-shadow: 0 0 0 15px rgba(125, 159, 137, 0); } }
