@for $i from 1 through 10 {
  .card#{$i} {
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 0px   0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background: #FFF;
    height: 500px;
    position: absolute;
    transform: translate(#{5*$i}px, #{4*$i}px) rotate(#{$i}deg);
    z-index: #{20-$i};
    
    .inactive & {
      opacity: 0;
      pointer-events:none;
    }
  }
}

:local(.questions) {

  line-height: 1.4em;
  background: #FFF;
  color: #333;

  .mq-desktop & {
    transition:transform 0.2s, opacity 0.2s;
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 0px   0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-size: 1rem;
    position: absolute;
    z-index: 100;
    min-height: 500px;
    height: 100%;
  }

  .inactive & {
    .mq-desktop & {
      transform: translate(0,-50px) scale(1.5);
      opacity: 0;
      pointer-events:none;
    }
    .mq-mobile & {
      display: none;
    }
    
  }

  .mq-mobile & {
    height: 100vh;
    padding-top: 10px;
  }

  > div {
    position: relative;
    height: 100%;
  }

  .widget {
    &:first-child {
      margin-top: 0;
    }
    margin-top:1em;
    width: 100%;

    .share {
      clear: both;
      padding-bottom: 15px;
    }
  }

  .header {
    position: absolute;
    right: 0;
    top: -2px;
    color: #b7b7b7;
  }

  a {
    text-decoration: none;
    color: #A74405;
  }

  .losButton {
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    background: #7d9f89;
    color: #FFF;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    float: left;
    width:100%;
    margin-bottom: 30px;
    margin-top: 10px;
    -webkit-animation: pulse 4s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 4s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 4s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 4s infinite cubic-bezier(0.66, 0, 0, 1);

    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7);

    &:hover {
      box-shadow: 0px 3px 4px rgba(0,0,0,0.1);
      background: #577562;
      -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
    }
  }

  h1 {
    font-size: 1em;
    margin-top: 0px;

    .mq-desktop & {
      margin-top: -10px;
      font-weight: bold;
      line-height: 1.2em;
      padding-bottom: 6px;
      margin-bottom: 27px;
      font-weight: normal;
      text-transform: uppercase;
      color: #b7b7b7;
      border-bottom: 1px solid #ececec;
    }
    .mq-mobile & {
      font-weight: normal;
      color: #a7a7a7;
    }
  }

  button {
    margin-top: 20px;
    width: 100%;
    border: none;
    color: #FFF;
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    float: left;
    background: linear-gradient(to right, #7D9F89 50%, #395844 50%);
    background-size: 200% 100%;
    animation: countdown 10s;
  }

  .answer-tip {
    background: rgba(255, 170, 0, 0.22) !important;
  }

  @-webkit-keyframes countdown {
    0%   {
      background-position:right bottom;
    }
    100% {
      background-position:left bottom;
    }
  }

  @-webkit-keyframes pulse {
    0%   {box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7);}
    80%  {box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7);}
    100% {box-shadow: 0 0 0 15px rgba(125, 159, 137, 0);}
  }
  @-moz-keyframes pulse {
    0%   {box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7);}
    80%  {box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7);}
    100% {box-shadow: 0 0 0 15px rgba(125, 159, 137, 0);}
  }
  @-ms-keyframes pulse {
    0%   {box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7);}
    80%  {box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7);}
    100% {box-shadow: 0 0 0 15px rgba(125, 159, 137, 0);}
  }
  @keyframes pulse {
    0%   {box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7);}
    80%  {box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7);}
    100% {box-shadow: 0 0 0 15px rgba(125, 159, 137, 0);}
  }

}
