:local(.pointer) {
  cursor: pointer
}

:local(.widget) {
  margin-top:1em;
  float:left;
  width: 100%;

  .share {
    clear: both;
    padding-bottom: 15px;
  }

  &:first-of-type {
    // margin-top:0;
  }
}
