:local(.component) {

	margin-top: 20px;
	margin-bottom: 20px;

  .mq-mobile & {
    margin-left: 2px;
  }

  .bar {
    border-top: 4px solid #cdded3;
    font-size: 10px;
    text-align: right;
    margin-bottom: 5px;
    margin-left: 19px;

  }

}
