:local(.component) {

  //border: 1px solid green;

  composes: widget from '../widgets.scss';

  padding-left: 5px;
  padding-right: 5px;

  .bar {
    height: 4px;
    background: #bfbfbf;
    padding: 2px;
    font-size: 10px;
    text-align: right;
    padding-right: 4px;
    margin-bottom: 15px;
    border-right: 1px solid #848484;
  }

}
