:local(.component) {

	margin-top: 20px;
	margin-bottom: 20px;

  // .mq-mobile & {
  //   margin-left: 2px;
  // }

  :local(.choice) {
    position: relative;
  }

  :local(.histo) {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0px;

    :local(.label) {
      position: absolute;
      right: 2px;
      font-size: 10px;
    }

    :local(.bar) {
      position: absolute;
      background: #EEE;
      height: 2px;
      display: none;
    }
  }


}
