:local(.component) {

  //border: 1px dotted red;
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  z-index: 10;
  border-radius: 3px;
  border: 1px solid #7d9f89;
  text-align: center;
  color: #7d9f89;
  overflow: hidden;
  position: relative;

  &.voted {
    border: 1px solid #EEE;
    color: #000;
  }
}

:local(.label) {
  flex-grow: 1;
  cursor: pointer;
  z-index: 10;
  padding: 6px;

  .voted & {
    text-align: left;
  }
}

:local(.histoBar) {
  position: absolute;
  background: #EEE;
  z-index: 1;
  height: 100%;
  left: 0px;
}

:local(.histoLabel) {
  position: absolute;
  right: 0px;
  padding: 6px;
  color: #333;
  font-size: 0.8em;
}