.vis {
  position: relative;

  .menu {
    padding: 5px;
    background: rgb(255, 255, 255);
    clear: left;
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 100;
    width: 50px;

    div {
      width: 30px;
      height: 30px;
      padding: 10px;
      float: left;
      background-repeat:no-repeat;
      background-size: contain;
      background-position:50% 50%;
      margin:5px;
      cursor:pointer;
    }
    :hover {
      opacity: 0.5;
    }
    .globe {
      background-image: url("./img/globe.svg");
    }
    .map {
      background-image: url("./img/map.svg");
    }
    .scatter {
      background-image: url("./img/scatter.svg");
    }
  }
}
