.vis {
  position: relative;

  .mq-mobile & {
    pointer-events: none;
  }

  .menu {
    padding: 5px;
    clear: left;
    top: 10px;
    right: -6px;
    position: absolute;
    z-index: 100;
    width: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background: #FFF;

    .mq-mobile & {
      display: none;
    }

    div {
      width: 20px;
      height: 20px;
      padding: 10px;
      float: left;
      background-repeat:no-repeat;
      background-size: contain;
      background-position:50% 50%;
      margin:5px;
      cursor:pointer;
      opacity: 0.3;
    }
    .active {
      opacity: 1;
    }
    :hover {
      opacity: 1;
    }
    .globe {
      background-image: url("./img/globe.svg");
    }
    .map {
      background-image: url("./img/map.svg");
    }
    .scatter {
      background-image: url("./img/scatter.svg");
    }
  }

  .tooltip {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    font-size: 12px;
    pointer-events:none;
    opacity: 0;

    .inner {
      position: relative;
      left: -50%;
      background: #000;
      color: #FFF;
      padding: 7px;
      font-weight: bold;
      top: -39px;
      border-radius: 4px;
    }

    &.active {
      opacity: 1;
    }
  }


  .scatterLegend {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100%;
    width: 100%;
    font-size: 12px;
    pointer-events: none;

    .label {
      top: 20px;
      left: 20px;
      position: absolute;
    }
    .vergleich {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    .quelle {
        bottom: 20px;
        left: 20px;
        position: absolute;
        font-size: 10px;
        color: #797979;

        a {
          text-decoration: none;
          color: #797979;

          &:hover {
            color: #000;
          }
        }
    }
  }


  .footer {
    font-size: 12px;
    padding: 10px;
    background: rgb(255, 255, 255);
    clear: left;
    bottom: 10px;
    left: 10px;
    position: absolute;
    z-index: 100;
    width: 520px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

    .mq-mobile & {
      display: none;
    }

    .label {
        float: left;
        padding-top: 2px;
    }

    .quelle {
        clear: left;
        float: left;
        font-size: 10px;
        color: #797979;
        padding-top: 2px;

        a {
          text-decoration: none;
          color: #797979;

          &:hover {
            color: #000;
          }
        }
    }

    .legend {
      float: right;
      font-size: 10px;
      position: relative;
      cursor: default;

      .item {
        text-align: center;
        margin-right: 1px;

        width: 20px;
        float: left;

        .color {
            float: left;
            height: 16px;
            width: 20px;
        }
        .label {
          position: relative;
          float: left;
          text-align: center;
          width: 20px;
          padding-top: 3px;
          left: -10px;
        }
      }
    }
  }
}
