img {
  width: 100%; }

.choices {
  position: relative; }
  .choices .choice {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FFF;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px black; }
