:local(.showcard) {
  text-align: center;
  width: 120px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  right: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 260px;
  background: #7d9f89;
  border-radius: 70px; }

:local(.footer) {
  position: absolute;
  bottom: 0px;
  width: 100%; }
  .mq-mobile :local(.footer) {
    margin-top: 20px;
    position: relative; }
  :local(.footer) :local(.btn) {
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    border: 1px solid #7d9f89;
    /* background: #7d9f89; */
    color: #7d9f89;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
    :local(.footer) :local(.btn):hover {
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
      background: #577562;
      color: #FFF; }
