:local(.footer) {
  margin-top: 10px;
  float: left;
  width: 100%; }
  .mq-desktop :local(.footer) {
    padding: 30px; }
  :local(.footer) :local(.btn) {
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    background: #7d9f89;
    color: #FFF;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    float: left;
    width: 100%;
    box-shadow: 0 0 0 0 rgba(125, 159, 137, 0.7); }
    :local(.footer) :local(.btn):hover {
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
      background: #577562; }
