:local(.container) {
  display: flex;
  flex-direction: row;

  :local(.left) {
    flex-grow: 1;
    border: 1px solid green;
  }

  :local(.right) {
    width: 25%;
    border: 1px solid blue;
  }
}

:local(.questions) {
  padding:1em;

  :local(.widget) {
    margin-top:1em;

    h1 {
      margin-top:0;
    }
  }

  :local(.widget):first-child {
    margin-top:0;
  }
}
