@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



:local(.container) {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 860px;
  background: #FFF;
  height: 500px;

  :local(.left) {

    border-right: none;
    flex-grow: 1;
    width: 65%;
    overflow: hidden;
  }

  :local(.right) {
    z-index: 200;
    width: 35%;
    min-width: 320px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  :local(.choice-label) {

    margin-left: .5em;
  }
}

:local(.questions) {
  overflow-y: scroll;
  height: 450px;
  float: left;
  position: relative;
  padding: 2em;
  font-size: 12px;

  :local(.widget) {
    margin-top:1em;
    float:left;
    width: 100%;

    h1 {
      margin-top:0;
      font-size: 1.5em;
      font-weight: normal;
    }
    p {
      float:left;
    }
    &:first-of-type {
      margin-top:0;
    }
  }
  .slider{
    margin-top:2em;
    margin-bottom:2em;
  }


}

:local(.footer) {
  padding: 1em;
  position: absolute;
  bottom:0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.92);

  @mixin pagination-item {
    background: transparent;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    height: 12px;
    margin-right: 3px;
    width: 12px;

  }

  :local(.pagination) {
    @include clearfix;
    position: absolute;
    left: 40%;
  }

  :local(.pagination-item) {
    @include pagination-item;
    border-color: #ddd;

    &:hover {
      border-color: #777;
    }
  }

  :local(.pagination-item--active) {
    @include pagination-item;
    border-color: #777;
    background: #ddd;
    cursor: default;
  }

  :local(.btn-next) {
    color: #777;
    cursor: pointer;
    position: absolute;

    right: 20px;

    :local(.btn-text) {
      text-transform: uppercase;
      float: left;
      margin-right: 5px;
      font-size: 12px;

      &:hover {
        color: #000;
      }
    }

    :local(.btn-arrow) {
      float: left;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 15px;
      border-color: transparent transparent transparent #EEE;
    }

  }
}

.DataSetList {
  li {
    cursor: pointer;
  }
}
