:local(.container) * {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-tap-highlight-color: transparent;
  /* prevent tap highlight color / shadow */
  -webkit-user-select: text;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  box-sizing: border-box; }

:local(.container) .right {
  position: relative; }

:local(.container) .left {
  position: absolute;
  top: 0px;
  height: 100%; }

.rc-slider-tooltip {
  z-index: 400; }
  .rc-slider-tooltip-inner {
    line-height: 1em;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    font-weight: bold;
    text-size: 12px;
    background: #000; }
