:local(.container) * {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-tap-highlight-color: transparent;
  /* prevent tap highlight color / shadow */
  -webkit-user-select: text;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  box-sizing: border-box; }

:local(.container) .right {
  z-index: 200;
  position: relative; }

:local(.container) .left {
  position: absolute;
  top: 0px; }
