:local(.container) {
  overflow: hidden;
  display: flex;

  background: #FFF;


  .mq-mobile & {
    flex-direction: column;
    width: 100%;
  }
  .mq-desktop & {
    flex-direction: row;
    // width: 860px;
    height: 500px;
  }

  .left {
    .mq-mobile & {
      overflow: hidden;
    }
    .mq-desktop & {
      border-right: none;
      flex-grow: 1;
      width: 65%;
      overflow: hidden;
    }
  }

  .right {
    .mq-mobile & {
      width: 100%;
    }
    .mq-desktop & {
      width: 35%;
    }
    z-index: 200;

    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: relative;
  }
}
